extends layout.pug

block content
  main
    div
      h1.title= title
      if filter && filter.type === 'genre'
        div.actions
          a(href=`/genres/${filter.id}/update`) Edit Genre
          a(href=`/genres/${filter.id}/delete`) Delete Genre
      if filter && filter.type === 'developer'
        div.actions
          a(href=`/developers/${filter.id}/update`) Edit Developer
          a(href=`/developers/${filter.id}/delete`) Delete Developer
    div
      include includes/searchBar.pug
    div
      include includes/gameList.pug
      if totalPages > 1
        include includes/paginationControl.pug
      
