extends layout.pug

block content
  h1= title

  form(method='POST')
    section
      label(for='name') Developer Name:
      input(
        type='text'
        id='name'
        name='name'
        required
        value= values && values.name ? values.name : null
      )
      if errors && errors.name
        span= errors.name.msg
    
    seciton
      button(type='submit') Create Developer
