extends layout.pug

block content
  h1= title
  form(method='POST')
    section
      label(for='title') Game Title: 
      input(type='text' id='title' name='title' value= values && values.title ? values.title : null)
      if errors && errors.title
        span= errors.title.msg

    section
      label(for='description') Description:
      textarea(id='description', name='description')= values && values.description ? values.description : null
      if errors && errors.description
        span= errors.description.msg

    seciton
      - const date_YYY_MM_DD = values && values.release_date ? values.release_date.toISOString().slice(0, 10) : null;
      label(for='release_date') Release Date:
      input(type='date' id='release_date' name='release_date' value=date_YYY_MM_DD)
      if errors && errors.release_date
        span= errors.release_date.msg
    
    section
      fieldset
        legend Game Genres
        each genre in genres
          div
            input(
              type='checkbox'
              id=genre.id 
              name='genres[]'
              value=genre.id
              checked= values && values.genres ? values.genres.includes(genre.id) : false
            )
            label(for=genre.id)= genre.name
      if errors && errors.genres
        span= errors.genres.msg

    section
      fieldset
        legend Game Developers
        each dev in developers
          div
            input(
              type='checkbox'
              id=dev.id 
              name='developers[]'
              value=dev.id
              checked= values && values.developers ? values.developers.includes(dev.id) : false
            )
            label(for=dev.id)= dev.name
      if errors && errors.developers
        span= errors.developers.msg
    
    section
      button(type='subimt')= title
        
