extends layout.pug

block content
  div
    h1= game.title
    ul
      each genre in genres
        li: a(href=`/genres/${genre.id}/games`)= genre.name
    ul
      each dev in developers
        li: a(href=`/developers/${dev.id}/games`)= dev.name
    h2 Summary
    p= game.description
    if game.release_date
      p Release Date: #{game.release_date.toDateString()}
    a(href=`/games/${game.id}/update`) Edit Game
    a(href=`/games/${game.id}/delete`) Delete Game
